<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ASC e-commerce{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('home') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('homePageJs') }}
        {% endblock %}

    </head>
    <body>

        <div class="mainContainer">
        <a name="topAnchor"></a>
            <div class="containerLeftSide" id="1"> 
                <a href="#topAnchor" class="menuSideBar">ASC e-Commerce</a>
                
            </div>
            <button id="myBurgerBtn" class="burgerButton"> ↕ </button>
                <button id="myBtn" title="Go to top" class="boutonHautDePage"> ↑ </button>
                <div class="boutonLogo">
                    <div class="titre"> ASC e-Commerce</div>
                </div>
            <div id="legal">
            <h2>Références légales</h2>
            la société TP, référente du site ASC-E-com<br>
            Domicilié au 19 allée Jacqueline Auriol à Strasbourg Neuhof<br>
            Pouvant être contacté au 06.84.82.68.52 ou par mail en cliquant <a href="mailto:lateamdespeignezizi@onlineformapro.com">ici</a><br>
            De forme juridique "Compagnie Sociétaire de Services"<br>
            Au capital de 3,50€<br>
            Sous la direction de notre bienfaiteur Leader Suprême G.M.M.C<br>
            <br><br>

            <h2>Conditions générales d'utilisations</h2>
            <h4><b>Article I: Objet</b></h4>
            Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique de l’utilisation du site ASC-E-com et de ses services.<br>
            Ce contrat est conclu entre :<br>
            Le gérant du site internet, ci-après désigné « l’Éditeur »,<br>
            Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».<br>
            Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.
            <br><br>
            <h4><b>Article II: Mentions légales</b></h4>
            Pour les personnes morales :<br>
            Le site ASC-E-com est édité par la société TP, Compagnie Sociétaire de Services au capital de 3.50€ dont le siège social est situé au 19 allée Jacqueline Auriol à Strasbourg Neuhof<br>
            La société est représentée par notre bienfaiteur Leader Suprême G.M.M.C<br>
            <br>
            Pour les personnes physiques :<br>
            Le site ASC-E-com est édité par la notre bienfaiteur Leader Suprême G.M.M.C, domicilié dans un coussin au premier étage de la MIDE.
            <br><br>
            <h4><b>Article III: Accès aux services</b></h4><br>
            Le site ASC-E-com vous donne accès à l'achat d'articles uniques que vous ne retrouverez nulle part ailleurs. <br>
            Tout utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site. Les frais supportés par l’Utilisateur 
            pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’éditeur.<br>
            L'achat de nos articles uniques et merveilleux ne sera possible que si l'utilisateur est inscrit et connecté sur notre site internet.<br>
            Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, 
            sans obligation de préavis ou de justification. 
            <br><br>
            <h4><b>Article IV: Responsabilité de l'utilisateur</b></h4>
            L'Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe. <br>
            Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation de mot de passe, l’éditeur décline toute responsabilité.<br>
            L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur le site le site de toto.<br>
            Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site.<br>
            Le site permet aux membres de publier sur le site avis et reviews<br>
            Le membre s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces publications soient modérées ou refusées par l’Éditeur, 
            sans obligation de justification. 
            <br>
            En publiant sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, 
            diffuser et distribuer sa publication, directement ou par un tiers autorisé.
            <br>
            L’Éditeur s'engage toutefois à citer le membre en cas d’utilisation de sa publication
            <br><br>
            <h4><b>Article V: Responsabilité de l'éditeur</b></h4>
            Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.<br>
            De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.<br>
            Le site ASC-E-com s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. 
            Toutefois, il n’apporte pas une garantie de sécurité totale.<br>
            L’éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées sur le site soient réputées fiables.
            <br><br>
            <h4><b>Article VI: Propriété intellectuelle</b></h4>
            Les contenus du site ASC-E-com (logos, textes, éléments graphiques, vidéos, etc.) sont protégés par le droit d’auteur, 
            en vertu du Code de la propriété intellectuelle.<br>
            L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, 
            copie ou publication de ces différents contenus.<br>
            Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ; tout usage commercial est interdit.<br>
            L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte à un tiers.<br>
            L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en ligne par les utilisateurs, et ce sans justification.
            <br><br>
            <h4><b>Article VII: Données personnelles</b></h4>
            L’Utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le site.<br>
            L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site Le site de toto pour la communication d’informations diverses et la gestion du compte.<br>
            Le site ASC-E-comgarantie le respect de la vie privée de l’utilisateur, 
            conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.<br>
            Le site est déclaré auprès de la CNIL sous le numéro suivant : 007-MI6.
            En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. 
            L'Utilisateur exerce ce droit via :<br>
            Son espace personnel sur le site ;<br>
            Un formulaire de contact ;<br>
            Par mail à <a href="mailto:lateamdespeignezizi@onlineformapro.com">cette adresse</a><br>
            Par voie postale au 19, allée Jacqueline Auriol
            <br><br>
            <h4><b>Article VIII: Liens hypertextes</b></h4>
            Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité de l’éditeur de ASC-E-com qui n’a pas de contrôle sur ces liens.<br>
            Il est possible pour un tiers de créer un lien vers une page du site Le site de toto sans autorisation expresse de l’éditeur.
            <br><br>
            <h4><b>Article IX: Évolution des CGU</b></h4>
            Le site ASC-E-com se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.
            <br><br>
            <h4><b>Article X: Durée de contrat</b></h4>
            La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.
            <br><br>
            <h4><b>Article XI: Droit applicable et juridiction compétente</b></h4>
            Le présent contrat dépend de la législation française. <br>
            En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux de Strasbourg sont compétents pour régler le contentieux.
            <br><br>

                <div class="footer">
                    <a href="https://fr-fr.facebook.com/" class="instagram">Facebook</a>
                    <a href="https://twitter.com/" class="instagram">Twitter</a>
                    <a href="https://www.instagram.com/?hl=fr" class="instagram">Instagram</a>
                    <a href="mailto:lateamdespeignezizi@onlineformapro.com" class="instagram">Contact</a>

                </div>  
            
            
            </div>

            <div class="containerRightSide">
                <a href="{{ path('home') }}">Retour à la page d'accueil</a>
            </div>      
      </div>
    </body>

</html>