@import "~bootstrap";




body{
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    background: linear-gradient( rgb(241, 221, 221), rgb(41, 49, 48));
}

.containerLeftSide{
    display: flex;  
}

.containerLeftSideComputer{
    transition: ease 0.5s;
    display: flex;
    position: fixed;
    flex-direction: column;
   background-color: crimson;
   width: 13vw;
   height: 85vh;
   clip-path: polygon(100% 0, 100% 74%, 0 100%, 0 100%, 0 0);
   z-index: 2;
}

.containerLeftSidePad{
    transition: ease 0.5s;
    display: flex;
    position: fixed;
    flex-direction: column;
   background-color: crimson;
   width: 18vw;
   height: 75vh;
   clip-path: polygon(100% 0, 100% 66%, 0 100%, 0 100%, 0 0);
   z-index: 2;
}

.containerLeftSidePhoneEnabled{
    transition: ease 0.5s;
    display: flex;
    position: fixed;
    flex-direction: column;
   background-color: crimson;
   width: 35vw;
   height: 65vh;
   clip-path: polygon(100% 0, 100% 66%, 0 100%, 0 100%, 0 0);
   z-index: 4;
}

.containerLeftSidePhone{
    transition: ease 0.5s;
    display: none;
    position: fixed;
    flex-direction: column;
   background-color: crimson;
   width: 35vw;
   height: 65vh;
   clip-path: polygon(100% 0, 100% 66%, 0 100%, 0 100%, 0 0);
   z-index: 4;
}

.burgerButton{
    display: flex;
    position: fixed;
    background-color: crimson;
    color: whitesmoke;
    width: 5vh;
    height: 5vh;
    z-index: 6;
}

.boutonHautDePage{
    display: flex;
    width: 3vw;
    height: 4vw;
    background-color: crimson;
    position: fixed;
    z-index: 2;
    min-width: 35px;
    min-height: 49px;
    bottom: 0vh;
    left: 8.5vw;
    font-size: 2vw;
    clip-path: polygon(0 80%, 100% 0, 100% 100%, 0 100%);
    align-items: flex-end;
    justify-content: center;
}

.boutonLogo{
    display: flex;
    width: 14.25vw;
    height: 12.1vw;
    min-width: 135px;
    min-height: 142px;
    background-color: crimson;
    color: whitesmoke;
    position: absolute;
    top: 1vh;
    left: 25vw;
    clip-path: polygon(15vw 0, 15vw 3vw, 3vw 25vh, 0 25vh, 0 0);
}

.titre{
    margin-top: 18%;
    margin-left: 11%;
    font-size: 160%;
}



.containerRightSide{
    display: flex;
    position: fixed;
    z-index: 2;
    right: 1vw;
    width: 13vw;
    height: auto;
    margin-left: 2vw;
    /* background-color: rgba(0, 0, 0, 0.082); */
    justify-content: center;
}

.boutonEspaceClient{
    display: flex;
}

.boutonEspaceClientComputer{
    transition: ease 0.5s;
    display: flex;
    width: 5vw;
    height: 11vh;
    background-color: crimson;
    position: fixed;
    top: 0vh;
    clip-path: polygon(100% 0, 100% 49%, 9% 100%, 0 100%, 0 0);
}

.boutonEspaceClientPad{
    transition: ease 0.5s;
    display: flex;
    width: 8vw;
    height: 8vh;
    background-color: crimson;
    position: fixed;
    top: 0vh;
    clip-path: polygon(100% 0, 100% 49%, 9% 100%, 0 100%, 0 0);
}

.boutonEspaceClientPhone{
    transition: ease 0.5s;
    display: flex;
    width: 9vh;
    height: 9vh;
    background-color: crimson;
    position: fixed;
    top: 0vh;
    clip-path: polygon(100% 0, 100% 49%, 9% 100%, 0 100%, 0 0);
}

.boutonEspaceClientComputer:hover{
    transition: ease 0.5s;
    display: flex;
    width: 5.5vw;
    height: 14.5vh;
    background-color: rgb(230, 53, 88);
    position: fixed;
    top: 0vh;
    clip-path: polygon(100% 0, 100% 49%, 9% 100%, 0 100%, 0 0);
}

.boutonEspaceClientPad:hover{
    transition: ease 0.5s;
    display: flex;
    width: 8.5vw;
    height: 11.5vh;
    background-color: rgb(230, 53, 88);
    position: fixed;
    top: 0vh;
    clip-path: polygon(100% 0, 100% 49%, 9% 100%, 0 100%, 0 0);
}

.boutonEspaceClientPhone:hover{
    transition: ease 0.5s;
    display: flex;
    width: 9.5vh;
    height: 12.5vh;
    background-color: rgb(230, 53, 88);
    position: fixed;
    top: 0vh;
    clip-path: polygon(100% 0, 100% 49%, 9% 100%, 0 100%, 0 0);
}

.boutonPanier{
    display: flex;
}

.boutonPanierComputer{
    transition: ease 0.3s;
    display: flex;
    width: 5vw;
    height: 11vh;
    background-color: crimson;
    position: fixed;
    top: 9.5vh;
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
    align-items: flex-end;
    justify-content: center;
}

.boutonPanierPad{
    transition: ease 0.3s;
    display: flex;
    width: 8vw;
    height:8vh;
    background-color: crimson;
    position: fixed;
    top: 7.5vh;
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
    align-items: flex-end;
    justify-content: center;
}

.boutonPanierPhone{
    transition: ease 0.3s;
    display: flex;
    width: 9vh;
    height: 9vh;
    background-color: crimson;
    position: fixed;
    top: 7.8vh;
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
    align-items: flex-end;
    justify-content: center;
}

.boutonPanierComputer:hover{
    transition: ease 0.75s;
    display: flex;
    width: 16vw;
    height: 16vw;
    background-color: rgb(230, 53, 88);
    position: fixed;
    top: 9.5vh;
    clip-path: polygon(38% 22%, 65% 0, 65% 42%, 100% 42%, 100% 100%, 0 100%, 0 42%, 38% 42%);
    align-items: flex-end;
    justify-content: center;
}

.boutonPanierPad:hover{
    transition: ease 0.75s;
    display: flex;
    width: 18vw;
    height: 18vw;
    background-color: rgb(230, 53, 88);
    position: fixed;
    top: 8vh;
    clip-path: polygon(32% 22%, 71% 0, 71% 42%, 100% 42%, 100% 100%, 0 100%, 0 42%, 32% 42%);
    align-items: flex-end;
    justify-content: center;
}

.boutonPanierPhone:hover{
    transition: ease 0.75s;
    display: flex;
    width: 18vw;
    height: 18vw;
    background-color: rgb(230, 53, 88);
    position: fixed;
    top: 8vh;
    clip-path: polygon(32% 22%, 71% 0, 71% 42%, 100% 42%, 100% 100%, 0 100%, 0 42%, 32% 42%);
    align-items: flex-end;
    justify-content: center;
}



.englishButton{
    transition: ease 0.5s;
    display: flex;
    min-width: 60px;
    min-height: 30px;
    width: 5vw;
    height: 3vw;
    background: linear-gradient(90deg, transparent 46%, red 46%, red 56%, transparent 56%),
    linear-gradient(transparent 38%, white 38%, white 42%, red 42%, red 58%, white 58%, white 62%, transparent 62%),
    linear-gradient(90deg, transparent 44%, white 44%, white 46%, red 46%, red 56%, white 56%, white 58%, transparent 58%),
    linear-gradient(33deg, transparent 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, transparent 57%),
    linear-gradient(-33deg, mediumblue 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, mediumblue 57%);
    clip-path: polygon(100% 100%, 3% 100%, 100% 3%);
    position: fixed;
    bottom: 8.3vh;
    justify-content: center;
    align-items: center;
}

.englishButton:hover{
    transition: ease 0.5s;
    display: flex;
    width: 5.8vw;
    height: 3.5vw;
    background: linear-gradient(90deg, transparent 46%, red 46%, red 56%, transparent 56%),
    linear-gradient(transparent 38%, white 38%, white 42%, red 42%, red 58%, white 58%, white 62%, transparent 62%),
    linear-gradient(90deg, transparent 44%, white 44%, white 46%, red 46%, red 56%, white 56%, white 58%, transparent 58%),
    linear-gradient(33deg, transparent 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, transparent 57%),
    linear-gradient(-33deg, mediumblue 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, mediumblue 57%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    position: fixed;
    bottom: 8.3vh;
    justify-content: center;
    align-items: center;
}

.frenchButton{
    transition: ease 0.5s;
    display: flex;
    min-width: 60px;
    min-height: 30px;
    width: 5vw;
    height: 3vw;
    background:linear-gradient(to right, #002495 0, #002495 33%, #FFF 33%, #FFF 66%, #ed2939 66%, #ed2939 100%); 
    clip-path: polygon(0 0, 0 97%, 97% 0);
    position: fixed;
    bottom: 8.3vh;
    justify-content: center;
    align-items: center;
}

.frenchButton:hover{
    transition: ease 0.5s;
    display: flex;
    width: 5.8vw;
    height: 3.5vw;
    background:linear-gradient(to right, #002495 0, #002495 33%, #FFF 33%, #FFF 66%, #ed2939 66%, #ed2939 100%); 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);    
    position: fixed;
    bottom: 8.3vh;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    position: static; 
    width: 100vw;
    height: 8vh;
    background-color: rgb(34, 37, 37);
    z-index: 15;
    color: whitesmoke;
    justify-content:space-evenly;
    align-items: center;
}

.connexionContainer{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 15vh;
    height: 15vh;
    background-color: crimson;
    z-index: 5;
    color: whitesmoke;
}  

.connexionStyle{
    display: flex;
    align-self: center;
    margin-top: 20%;
    color: whitesmoke;
}

.connexionButton{
    display: flex;
    position: fixed;
    background-color: crimson;
    color: whitesmoke;
    justify-content: center;
    width: 3vh;
    height: 3vh;
    z-index: 6;
}



.boutonMentionsLegales{
    transition: ease 0.5s;
    display: flex;
    width: 5vw;
    height: 4vw;
    min-width: 66px;
    min-height: 50px;
    background-color: crimson;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.boutonMentionsLegales:hover{
    transition: ease 0.5s;
    display: flex;
    width: 5.8vw;
    height: 4.6vw;
    background-color: rgb(230, 53, 88);
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.containerCategories{
    display: flex;
    max-width: 70vw;
}

.containerPageCategories{
    display: flex;
    margin-top: 13.5vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

.pageContainer{
    display: flex;
    width: 76vw;
    justify-content: center;
}

.returnButton{
    transition: ease 0.5s;
    display: flex;
    background-color: crimson;
    position: absolute;
    width: 8vh;
    height: 7vh;
    margin-top: 1vh;
    margin-left: 1vh;
    clip-path: polygon(100% 0, 100% 52%, 65% 100%, 0 100%, 0 0);
}

.returnButton:hover{
    transition: ease 0.5s;
    display: flex;
    background-color: rgb(238, 48, 86);
    position: absolute;
    height: 7.8vh;
    width: 8.8vh;
    margin-top: 1vh;
    margin-left: 1vh;
    clip-path: polygon(100% 0, 100% 52%, 65% 100%, 0 100%, 0 0);
}

.pageContainerProduct{
    display: flex;
    width: 76vw;
    justify-content: center;
    margin-left: 12vw;
    margin-top: 19vh;
}