
body{
    display: flex;
    width: 100vw;
    overflow-x: hidden;
}

.mainContainer{
    display: flex;
   width: 100vw;
   height: auto;   
}

.containerLeftSide{
    display: flex;
    position: fixed;
    flex-direction: column;
   background-color: crimson;
   width: 16vw;
   height: 85vh;
   margin-left: 2vw;
   clip-path: polygon(100% 0, 100% 66%, 9% 100%, 0 100%, 0 0);
   z-index: 2;
}

.boutonHautDePage{
    display: flex;
    width: 5vw;
    height: 7vw;
    background-color: crimson;
    position: fixed;
    z-index: 2;
    bottom: 0vh;
    left: 16vw;
    clip-path: polygon(0 80%, 100% 0, 100% 100%, 0 100%);
    align-items: flex-end;
    justify-content: center;
}

.boutonLogo{
    display: flex;
    width: 15vw;
    height: 16vw;
    background-color: crimson;
    color: whitesmoke;
    position: absolute;
    top: 1vh;
    left: 35vw;
    clip-path: polygon(100% 0, 100% 15%, 9% 100%, 0 100%, 0 0);
}

.titre{
    margin-top: 18%;
    margin-left: 11%;
    font-size: 160%;
}

.containerCentral{
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin-left: 2vw;
    margin-top: 10vh;
    background-color: rgba(220, 20, 60, 0.137);
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 47%, 20% 28%);
}


.containerPreviews{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 128, 128, 0.123);
}

.preview{
    transition: ease 0.75s;
    display: flex;
    margin-left: 21vw;
    width: 56%;
    height: 45vh;
    background-color: rgba(93, 195, 195, 0.589);
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
}

.preview:hover{
    transition: ease 0.75s;
    display: flex;
    margin-left: 1vw;
    width: 96vw;
    height: 45vh;
    background-color: rgba(69, 148, 148, 0.657);
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
}

.surtexte{
    color: white;
    font-size: 300%;
}

.containerRightSide{
    display: flex;
    position: fixed;
    z-index: 2;
    right: 1vw;
    width: 20vw;
    height: auto;
    margin-left: 2vw;
    /* background-color: rgba(0, 0, 0, 0.082); */
    justify-content: center;
}

.boutonEspaceClient{
    transition: ease 0.5s;
    display: flex;
    width: 5vw;
    height: 8vw;
    background-color: crimson;
    position: fixed;
    top: 0vh;
    clip-path: polygon(100% 0, 100% 49%, 9% 100%, 0 100%, 0 0);
}

.boutonEspaceClient:hover{
    transition: ease 0.5s;
    display: flex;
    width: 5.5vw;
    height: 9vw;
    background-color: rgb(230, 53, 88);
    position: fixed;
    top: 0vh;
    clip-path: polygon(100% 0, 100% 49%, 9% 100%, 0 100%, 0 0);
}

.boutonPanier{
    transition: ease 0.3s;
    display: flex;
    width: 5vw;
    height: 7vw;
    background-color: crimson;
    position: fixed;
    top: 12vh;
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
    align-items: flex-end;
    justify-content: center;
}

.boutonPanier:hover{
    transition: ease 1.1s;
    display: flex;
    width: 18vw;
    height: 18vw;
    background-color: rgb(230, 53, 88);
    position: fixed;
    top: 12vh;
    clip-path: polygon(38% 22%, 65% 0, 65% 42%, 100% 42%, 100% 100%, 0 100%, 0 42%, 38% 42%);
    align-items: flex-end;
    justify-content: center;
}

.boutonMentionsLegales{
    transition: ease 0.5s;
    display: flex;
    width: 5vw;
    height: 7vw;
    background-color: crimson;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.boutonMentionsLegales:hover{
    transition: ease 0.5s;
    display: flex;
    width: 5.8vw;
    height: 8vw;
    background-color: rgb(230, 53, 88);
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.menuSideBar{
    transition: ease 0.5s;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1vh;
    margin-bottom: 11%;
    background-color: whitesmoke;
    border-radius: 1vw;

}

.menuSideBar:hover{
    transition: ease 0.5s;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1vh;
    margin-bottom: 11%;
    background-color: rgb(164, 221, 226);
    border-radius: 1vw;

}

.coinPromos{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 19vw;
    width: 58%;
    height: 38vh;
}

.containerImagePromo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.185);
}

.containerPromo1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2vh;
    width: 100%;
    height: 10vw;
    background-color: rgba(0, 0, 139, 0.116);
}

.promo1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 36%;
    margin-top: 2%;
}

.centered{
    display: flex;
    align-self: center;
}

.containerPromo2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 10vw;
    background-color: rgba(0, 0, 139, 0.116);
}

.promo2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 28%;
    margin-right: 2%;
    margin-top: 2%;
}

.promo3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 28%;
    margin-right: 2%;
    margin-top: 2%;
}

.carousel{
    display: flex;
    width: 100%;
    height: 40vh;
    background-color: rgba(247, 255, 247, 0.472);
    margin-top: 5vh;
    margin-bottom: 5vh;
}