
body{
    display: flex;
    width: 100vw;
    height: auto;
}

.mainContainer{
    display: flex;
   width: 100vw;
   height: auto;   
}

.containerLeftSide{
    display: flex;
    flex-direction: column;
   background-color: crimson;
   width: 18vw;
   height: 85vh;
   margin-left: 2vw;
   clip-path: polygon(100% 0, 100% 66%, 9% 100%, 0 100%, 0 0);
}

.boutonHautDePage{
    display: flex;
    width: 5vw;
    height: 7vw;
    background-color: crimson;
    position: fixed;
    bottom: 0vh;
    left: 16vw;
    clip-path: polygon(0 80%, 100% 0, 100% 100%, 0 100%);
    align-items: flex-end;
    justify-content: center;
}

.boutonLogo{
    display: flex;
    width: 15vw;
    height: 16vw;
    background-color: crimson;
    position: absolute;
    top: 1vh;
    left: 35vw;
    clip-path: polygon(100% 0, 100% 15%, 9% 100%, 0 100%, 0 0);
}

.containerCentral{
    display: flex;
    width: 56vw;
    height: 600vh;
    margin-left: 2vw;
    margin-top: 12vh;
    background-color: rgba(220, 20, 60, 0.137);
    clip-path: polygon(68% 0, 100% 0, 100% 100%, 0 100%, 0 11.58%);
}

.containerRightSide{
    display: flex;
    width: 20vw;
    height: 600vh;
    margin-left: 2vw;
    /* background-color: rgba(0, 0, 0, 0.082); */
    justify-content: center;
}

.boutonEspaceClient{
    display: flex;
    width: 5vw;
    height: 11vw;
    background-color: crimson;
    position: fixed;
    top: 0vh;
    clip-path: polygon(100% 0, 100% 49%, 9% 100%, 0 100%, 0 0);
}

.boutonPanier{
    display: flex;
    width: 5vw;
    height: 7vw;
    background-color: crimson;
    position: fixed;
    top: 18vh;
    clip-path: polygon(0 80%, 100% 0, 100% 100%, 0 100%);
    align-items: flex-end;
    justify-content: center;
}

.boutonMentionsLegales{
    display: flex;
    width: 5vw;
    height: 7vw;
    background-color: crimson;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.menuSideBar{
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 11%;
}